__Introduction__

For our project we have decided to analyse the dataset titled "Predict Student's Dropout and Academic Success". The dataset is created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies. 

Furthermore, the dataset includes information known at the time of the student's enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters. 

The research question we would like to answer is a classification one where we are able to predict whether a student continues to study or drops out of a higher education instituition based on a number of predictor variables. For this model we have chosen 4 predictor variables, namely: mother's and father's qualification level, previous qualification (grade) and application order. The predictor variable Target is a categorical variable that contains 3 categories: dropout, enrolled and graduate. The categories relevant to our analysis are dropout and graduate.

For the columns' student's mother's and father's qualification, it is numbered from 1-44 that describe the level of education they have attained. For example, the number 2 represents that the parent has attained their bachelor's degree. __(have we decided to go for a threshold?)__ The column titled previous qualification (grade) is a continous column with numbers [0, 200] that represents the student's grade at their previous qualification (whether it be highschool or during their bachelor's degree). Finally, the column titled application order contains numbers from [0, 9] where 0 is the student's first choice of instituition and 9 representing their last.

__Tidying Data__

In [14]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source("tests.R")
source('cleanup.R')

── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [32]:
data <- read_delim(file = "data/data.csv", delim = ";") #Load the data into R. File is semi-colon separated so use read_delim function
head(data)

Rows: 4424 Columns: 37
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr  (1): Target
dbl (36): Marital_status, Application_mode, Application_order, Course, Dayti...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Marital_status Application_mode Application_order Course
1 1              17               5                  171
2 1              15               1                 9254
3 1               1               5                 9070
4 1              17               2                 9773
5 2              39               1                 8014
6 2              39               1                 9991
  Daytime/evening attendance Previous_qualification
1 1                           1
2 1                           1
3 1                           1
4 1                           1
5 0                           1
6 0                          19
  Previous_qualification_grade Nacionality Mother_qualification
1 122.0                        1           19
2 160.0                        1            1
3 122.0                        1           37
4 122.0                        1           38
5 100.0                        1           37
6 133.1                        1           37
  Father_qualification ⋯ Curricular_units_2nd_sem_(credited)
1 12                   ⋯ 0
2  3                   ⋯ 0
3 37                   ⋯ 0
4 37                   ⋯ 0
5 38                   ⋯ 0
6 37                   ⋯ 0
  Curricular_units_2nd_sem_(enrolled) Curricular_units_2nd_sem_(evaluations)
1 0                                    0
2 6                                    6
3 6                                    0
4 6                                   10
5 6                                    6
6 5                                   17
  Curricular_units_2nd_sem_(approved) Curricular_units_2nd_sem_(grade)
1 0                                    0.00000
2 6                                   13.66667
3 0                                    0.00000
4 5                                   12.40000
5 6                                   13.00000
6 5                                   11.50000
  Curricular_units_2nd_sem_(without evaluations) Unemployment_rate
1 0                                              10.8
2 0                                              13.9
3 0                                              10.8
4 0                                               9.4
5 0                                              13.9
6 5                                              16.2
  Inflation_rate GDP   Target
1  1.4            1.74 Dropout
2 -0.3            0.79 Graduate
3  1.4            1.74 Dropout
4 -0.8           -3.12 Graduate
5 -0.3            0.79 Graduate
6  0.3           -0.92 Graduate

To tidy the data set, we have decided to implement the following steps:\
step 1: select only the 5 columns (predictor variable + predictor class) relevant to us\
step 2: filter the predictor class Target to have only two categories "Graduate and Dropout"\
step 3:

In [30]:
tidy_data <- data|>
select(Previous_qualification, Previous_qualification_grade, Mother_qualification, Father_qualification, Application_order, Target) |> # select our columns of interest
filter(Previous_qualification == 1) |> #We only want to examine observations whose previous education is completed secondary education
filter(Target == "Graduate" | Target == "Dropout") |> #We only want to examine the binary of dropout vs graduate (not students currently enrolled)
mutate(Target = as_factor(Target)) #We want our classification variable to be a factor as there's a limited amount of categories
head(tidy_data)
nrow(tidy_data) #Check we still have a sufficient amount of observations that meet our criteria

  Previous_qualification Previous_qualification_grade Mother_qualification
1 1                      122                          19
2 1                      160                           1
3 1                      122                          37
4 1                      122                          38
5 1                      100                          37
6 1                      142                          19
  Father_qualification Application_order Target
1 12                   5                 Dropout
2  3                   1                 Graduate
3 37                   5                 Dropout
4 37                   2                 Graduate
5 38                   1                 Graduate
6 38                   1                 Graduate

[1] 3019

## Create a Training Data Set

In [34]:
data_split <- initial_split(tidy_data, prop = 0.75, strata = Target) #Split the data into training and testing. 75% for training and 25% for testing. Because we are classifying target, use that as strata.
dropout_training <- training(data_split) #name training and testing data sets
dropout_testing <- testing(data_split)