In [1]:
library(tidyverse)
library(repr)
library(readxl)
source("tests.R")
source("cleanup.R")
options(repr.matrix.max.rows = 6)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [2]:
data <- read_delim(file = "data/data.csv", delim = ";")
data

Rows: 4424 Columns: 37
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr  (1): Target
dbl (36): Marital_status, Application_mode, Application_order, Course, Dayti...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     Marital_status Application_mode Application_order Course
1    1              17               5                  171
2    1              15               1                 9254
3    1               1               5                 9070
4    1              17               2                 9773
5    2              39               1                 8014
6    2              39               1                 9991
7    1               1               1                 9500
8    1              18               4                 9254
9    1               1               3                 9238
10   1               1               1                 9238
11   1               1               1                 9670
12   1               1               1                 9500
13   1               1               2                 9853
14   1              53               1                 9254
15   1               1               1                 9085
16   1               1               1                 9773
17   1              18               1                 9238
18   1              17               2                 9500
19   1               1               1                 9130
20   1               1               1                 9853
21   1               1               3                  171
22   1              18               4                 9556
23   1               1               4                 9500
24   1               1               4                 9670
25   1               1               1                 9500
26   1               1               1                 9238
27   1              17               2                 9238
28   1               1               1                 9085
29   1               1               1                 9147
30   1              17               2                 9500
⋮    ⋮              ⋮                ⋮                 ⋮
4395 1               1               4                 9500
4396 1              17               3                 9773
4397 1               1               2                 9773
4398 1               5               4                 9853
4399 1              39               1                 9147
4400 1               1               1                 9254
4401 2              39               1                 9991
4402 1               7               1                 9085
4403 1              18               2                 9853
4404 1              17               3                 9500
4405 2              39               1                 9130
4406 1               1               4                 9500
4407 1               1               1                 9070
4408 1               1               1                 9773
4409 2              39               1                 9773
4410 2              43               1                 9991
4411 1               1               1                 9070
4412 1              44               1                 9130
4413 1              43               1                 9070
4414 1              43               1                   33
4415 1               1               1                 9130
4416 4              39               1                 9500
4417 1              43               2                 9500
4418 1               1               1                 9070
4419 1              44               1                 9070
4420 1               1               6                 9773
4421 1               1               2                 9773
4422 1               1               1                 9500
4423 1               1               1                 9147
4424 1              10               1                 9773
     Daytime/evening attendance Previous_qualification
1    1                           1
2    1                           1
3    1                           1
4    1                           1
5    0                           1
6    0                          19
7    1                           1
8    1                           1
9    1                           1
10   1                           1
11   1                           1
12   1                           1
13   1                           1
14   1                          42
15   1                           1
16   1                           1
17   1                           1
18   1                           1
19   1                           1
20   1                           1
21   1                           1
22   1                           1
23   1                           1
24   1                           1
25   1                           1
26   1                           1
27   1                           1
28   1                           1
29   1                           1
30   1                           1
⋮    ⋮                          ⋮
4395 1                           1
4396 1                           1
4397 1                           1
4398 1                           1
4399 1                           1
4400 1                           1
4401 0                           1
4402 1                           3
4403 1                           1
4404 1                           1
4405 1                          19
4406 1                           1
4407 1                           1
4408 1                           1
4409 1                           1
4410 0                           1
4411 1                           1
4412 1                          39
4413 1                           1
4414 1                           1
4415 1                           1
4416 1                          19
4417 1                           1
4418 1                           1
4419 1                          39
4420 1                           1
4421 1                           1
4422 1                           1
4423 1                           1
4424 1                           1
     Previous_qualification_grade Nacionality Mother_qualification
1    122.0                         1          19
2    160.0                         1           1
3    122.0                         1          37
4    122.0                         1          38
5    100.0                         1          37
6    133.1                         1          37
7    142.0                         1          19
8    119.0                         1          37
9    137.0                        62           1
10   138.0                         1           1
11   139.0                         1          38
12   136.0                         1          19
13   133.0                         1          19
14   110.0                         1           1
15   149.0                         1          38
16   127.0                         1          19
17   137.0                         1          19
18   135.0                         1          19
19   137.0                         1           3
20   140.0                         1          19
21   122.0                         1           1
22   127.0                         1           1
23   142.0                         1          19
24   125.0                         1           1
25   126.0                         1          19
26   151.0                         1          19
27   115.0                         1          19
28   138.0                         1          19
29   135.0                         1          19
30   127.0                         1           3
⋮    ⋮                            ⋮           ⋮
4395 168.0                          1         38
4396 153.0                          1         34
4397 131.0                          1         19
4398 116.0                          1          3
4399 160.0                          1         38
4400 152.0                          1         37
4401 133.1                          1         37
4402 150.0                          1         19
4403 168.0                          1          1
4404 137.0                          1          1
4405 133.1                          1          2
4406 160.0                          1         37
4407 145.0                          1          1
4408 138.0                          1          1
4409 100.0                          1         37
4410 140.0                          1         37
4411 124.0                          1         37
4412 150.0                          1         37
4413 125.0                          1         19
4414 143.0                          1         37
4415 137.0                          1          3
4416 133.1                          1         37
4417 136.0                          1         38
4418 132.0                          1          1
4419 120.0                          1          3
4420 125.0                          1          1
4421 120.0                        105          1
4422 154.0                          1         37
4423 180.0                          1         37
4424 152.0                         22         38
     Father_qualification ⋯ Curricular_units_2nd_sem_(credited)
1    12                   ⋯ 0
2     3                   ⋯ 0
3    37                   ⋯ 0
4    37                   ⋯ 0
5    38                   ⋯ 0
6    37                   ⋯ 0
7    38                   ⋯ 0
8    37                   ⋯ 0
9     1                   ⋯ 0
10   19                   ⋯ 0
11   19                   ⋯ 0
12   38                   ⋯ 0
13   37                   ⋯ 0
14    1                   ⋯ 0
15   37                   ⋯ 0
16   37                   ⋯ 0
17   38                   ⋯ 0
18    1                   ⋯ 0
19   19                   ⋯ 0
20   19                   ⋯ 0
21    1                   ⋯ 0
22   38                   ⋯ 0
23   19                   ⋯ 0
24   38                   ⋯ 0
25   19                   ⋯ 0
26   38                   ⋯ 0
27   38                   ⋯ 0
28   19                   ⋯ 0
29    1                   ⋯ 0
30    3                   ⋯ 0
⋮    ⋮                    ⋱ ⋮
4395  1                   ⋯  0
4396 34                   ⋯  0
4397 37                   ⋯  0
4398 38                   ⋯  0
4399 38                   ⋯  0
4400 19                   ⋯  0
4401 37                   ⋯  0
4402 37                   ⋯  0
4403 19                   ⋯  0
4404  1                   ⋯  0
4405  1                   ⋯  0
4406 37                   ⋯  0
4407 38                   ⋯  0
4408 19                   ⋯  0
4409 37                   ⋯  0
4410 37                   ⋯  0
4411 19                   ⋯  1
4412 37                   ⋯  0
4413 19                   ⋯  2
4414  1                   ⋯  2
4415 38                   ⋯  0
4416 37                   ⋯  0
4417 38                   ⋯ 11
4418  1                   ⋯  0
4419 38                   ⋯  5
4420  1                   ⋯  0
4421  1                   ⋯  0
4422 37                   ⋯  0
4423 37                   ⋯  0
4424 37                   ⋯  0
     Curricular_units_2nd_sem_(enrolled) Curricular_units_2nd_sem_(evaluations)
1    0                                    0
2    6                                    6
3    6                                    0
4    6                                   10
5    6                                    6
6    5                                   17
7    8                                    8
8    5                                    5
9    6                                    7
10   6                                   14
11   6                                    7
12   8                                    8
13   6                                    0
14   6                                    8
15   5                                    5
16   6                                    7
17   6                                   14
18   8                                    8
19   5                                    8
20   7                                    8
21   0                                    0
22   8                                    9
23   8                                   12
24   6                                    7
25   8                                    9
26   6                                   12
27   6                                    9
28   5                                    7
29   5                                    6
30   7                                    7
⋮    ⋮                                   ⋮
4395  8                                   8
4396  6                                   8
4397  6                                   6
4398  6                                   9
4399  5                                  10
4400  6                                   6
4401  5                                  12
4402  5                                   5
4403  6                                   6
4404  8                                  12
4405  6                                   9
4406  8                                   8
4407  6                                   8
4408  6                                   7
4409  6                                  10
4410  5                                   6
4411  6                                   9
4412  6                                  11
4413  6                                   7
4414  8                                  10
4415  5                                   8
4416  7                                  12
4417 14                                  15
4418  6                                   6
4419  9                                  10
4420  6                                   8
4421  6                                   6
4422  8                                   9
4423  5                                   6
4424  6                                   6
     Curricular_units_2nd_sem_(approved) Curricular_units_2nd_sem_(grade)
1    0                                    0.00000
2    6                                   13.66667
3    0                                    0.00000
4    5                                   12.40000
5    6                                   13.00000
6    5                                   11.50000
7    8                                   14.34500
8    0                                    0.00000
9    6                                   14.14286
10   2                                   13.50000
11   5                                   14.20000
12   7                                   13.21429
13   0                                    0.00000
14   5                                   11.00000
15   5                                   12.00000
16   0                                    0.00000
17   2                                   11.00000
18   8                                   14.54500
19   4                                   12.25000
20   6                                   13.50000
21   0                                    0.00000
22   8                                   11.42500
23   7                                   12.85714
24   6                                   12.28571
25   7                                   14.11429
26   4                                   11.00000
27   6                                   13.28571
28   4                                   13.00000
29   5                                   12.33333
30   6                                   13.71667
⋮    ⋮                                   ⋮
4395  8                                  14.88875
4396  5                                  12.40000
4397  6                                  13.33333
4398  3                                  11.66667
4399  4                                  12.25000
4400  6                                  14.33333
4401  3                                  13.33333
4402  0                                   0.00000
4403  6                                  13.00000
4404  7                                  11.26250
4405  2                                  10.50000
4406  7                                  14.31429
4407  2                                  11.33333
4408  6                                  13.28571
4409  6                                  11.66667
4410  5                                  14.33333
4411  5                                  12.50000
4412  3                                  13.33333
4413  5                                  12.20000
4414  2                                  13.00000
4415  5                                  11.60000
4416  3                                  11.08333
4417 12                                  12.62500
4418  6                                  13.50000
4419  7                                  13.14286
4420  5                                  12.66667
4421  2                                  11.00000
4422  1                                  13.50000
4423  5                                  12.00000
4424  6                                  13.00000
     Curricular_units_2nd_sem_(without evaluations) Unemployment_rate
1    0                                              10.8
2    0                                              13.9
3    0                                              10.8
4    0                                               9.4
5    0                                              13.9
6    5                                              16.2
7    0                                              15.5
8    0                                              15.5
9    0                                              16.2
10   0                                               8.9
11   0                                              13.9
12   0                                              12.7
13   0                                              12.7
14   0                                               8.9
15   0                                              10.8
16   0                                              15.5
17   0                                              10.8
18   0                                              15.5
19   2                                              10.8
20   0                                              16.2
21   0                                              11.1
22   0                                              12.7
23   0                                              12.7
24   0                                              11.1
25   0                                              11.1
26   0                                               7.6
27   0                                              16.2
28   0                                               9.4
29   0                                              16.2
30   0                                              16.2
⋮    ⋮                                              ⋮
4395 0                                               9.4
4396 0                                               9.4
4397 0                                              11.1
4398 0                                               9.4
4399 2                                              16.2
4400 0                                               9.4
4401 0                                               9.4
4402 0                                               7.6
4403 0                                              10.8
4404 0                                              15.5
4405 0                                              16.2
4406 0                                              12.7
4407 0                                              10.8
4408 0                                              15.5
4409 0                                              12.7
4410 0                                              13.9
4411 0                                              10.8
4412 0                                              13.9
4413 0                                              13.9
4414 0                                              12.4
4415 0                                               9.4
4416 0                                              11.1
4417 1                                               7.6
4418 0                                              16.2

In [8]:
tidy_data <- data|>
select(Previous_qualification, Previous_qualification_grade, Mother_qualification, Father_qualification, Application_order, Target) |>
filter(Previous_qualification == 1) |>
filter(Target == "Graduate" | Target == "Dropout")
tidy_data

     Previous_qualification Previous_qualification_grade Mother_qualification
1    1                      122                          19
2    1                      160                           1
3    1                      122                          37
4    1                      122                          38
5    1                      100                          37
6    1                      142                          19
7    1                      119                          37
8    1                      137                           1
9    1                      138                           1
10   1                      139                          38
11   1                      136                          19
12   1                      133                          19
13   1                      149                          38
14   1                      127                          19
15   1                      135                          19
16   1                      137                           3
17   1                      122                           1
18   1                      142                          19
19   1                      125                           1
20   1                      126                          19
21   1                      115                          19
22   1                      135                          19
23   1                      125                          42
24   1                      138                          19
25   1                      130                           2
26   1                      130                          38
27   1                      140                          37
28   1                      120                          19
29   1                      126                           3
30   1                      133                           3
⋮    ⋮                      ⋮                            ⋮
2990 1                      110.0                        37
2991 1                      131.0                         1
2992 1                      141.0                        37
2993 1                      145.0                        37
2994 1                      122.0                        19
2995 1                      118.0                        37
2996 1                      150.0                        37
2997 1                      167.0                        19
2998 1                      150.0                        38
2999 1                      120.0                        38
3000 1                      168.0                        38
3001 1                      153.0                        34
3002 1                      131.0                        19
3003 1                      160.0                        38
3004 1                      152.0                        37
3005 1                      133.1                        37
3006 1                      137.0                         1
3007 1                      160.0                        37
3008 1                      138.0                         1
3009 1                      100.0                        37
3010 1                      140.0                        37
3011 1                      124.0                        37
3012 1                      137.0                         3
3013 1                      136.0                        38
3014 1                      132.0                         1
3015 1                      125.0                         1
3016 1                      120.0                         1
3017 1                      154.0                        37
3018 1                      180.0                        37
3019 1                      152.0                        38
     Father_qualification Application_order Target
1    12                   5                 Dropout
2     3                   1                 Graduate
3    37                   5                 Dropout
4    37                   2                 Graduate
5    38                   1                 Graduate
6    38                   1                 Graduate
7    37                   4                 Dropout
8     1                   3                 Graduate
9    19                   1                 Dropout
10   19                   1                 Graduate
11   38                   1                 Graduate
12   37                   2                 Dropout
13   37                   1                 Graduate
14   37                   1                 Dropout
15    1                   2                 Graduate
16   19                   1                 Graduate
17    1                   3                 Graduate
18   19                   4                 Graduate
19   38                   4                 Graduate
20   19                   1                 Graduate
21   38                   2                 Graduate
22    1                   1                 Graduate
23    3                   1                 Graduate
24    1                   1                 Graduate
25   37                   1                 Graduate
26   37                   1                 Dropout
27   37                   1                 Dropout
28   19                   1                 Graduate
29    3                   5                 Dropout
30   19                   2                 Graduate
⋮    ⋮                    ⋮                 ⋮
2990 37                   1                 Dropout
2991  1                   1                 Graduate
2992 37                   2                 Graduate
2993 34                   1                 Dropout
2994 19                   1                 Dropout
2995 38                   1                 Dropout
2996 37                   1                 Dropout
2997 19                   1                 Graduate
2998 38                   1                 Graduate
2999 38                   1                 Graduate
3000  1                   4                 Graduate
3001 34                   3                 Dropout
3002 37                   2                 Graduate
3003 38                   1                 Graduate
3004 19                   1                 Graduate
3005 37                   1                 Dropout
3006  1                   3                 Graduate
3007 37                   4                 Graduate
3008 19                   1                 Graduate
3009 37                   1                 Dropout
3010 37                   1                 Graduate
3011 19                   1                 Graduate
3012 38                   1                 Graduate
3013 38                   2                 Graduate
3014  1                   1                 Graduate
3015  1                   6                 Graduate
3016  1                   2                 Dropout
3017 37                   1                 Dropout
3018 37                   1                 Graduate
3019 37                   1                 Graduate